<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_facebook"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".findfriend"
            android:exported="false" />
        <activity
            android:name=".navigationbar"
            android:exported="true" />

        <activity
            android:name=".viewfriend"
            android:exported="true" />
        <activity
            android:name=".acdc"
            android:exported="true" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".A223"
            android:exported="true" />
        <activity
            android:name=".Nohalls"
            android:exported="false" />
        <activity
            android:name=".bookingdetails3"
            android:exported="false" />
        <activity
            android:name=".bookingdetails2"
            android:exported="false" />
        <activity
            android:name=".bookingdetails"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="true" />
        <activity
            android:name=".about"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>